            <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Shopping Cart</h1>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ul>
          </div>
        </div>
