            <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>
            {% block ariane1 %}
            Fina Store 
            {% endblock %}
            </h1>
            <ul>
              <li><a href="index.html">Accueil</a></li>
              <li class="active">
            {% block ariane2 %}
              Shopping online
            {% endblock %}
              </li>
            </ul>
          </div>
        </div>
