<div class="location mb_50">
	<h5 class="capitalize mb_20">
		<strong>Nos adresse</strong>
	</h5>
	<div class="address">Siège social
		<br>
		124,av. Luvua, Lubumbashi- RDC
		<br>
		en diagonal de la brasserie du Katanga</div>
	<div class="call mt_10">
		<i class="fa fa-phone" aria-hidden="true"></i>+243 96 35 678</div>
</div>
<div class="Career mb_50">
	<h5 class="capitalize mb_20">
		<strong>Contact whatsapp </strong>
	</h5>
	<div class="address">
	Chattez directement avec un de nos agent sur whatsapp.
	</div>
	<div class="email mt_10">
		<i class="fa fa-whatsapp" aria-hidden="true"></i>
		<a href="whatsapp:contact@finasarl.com" target="_top">
		{% if entreprise is defined %}
			{{entreprise.telephoneEntreprise}}
		{% else %}
			+243 97 89 24 080
		{% endif %}

		</a>
	</div>
</div>
<div class="Hello mb_50">
	<h5 class="capitalize mb_20">
		<strong>FINA SARL </strong>
	</h5>
	<div class="address">Ensemble, bâtissons l'avenir de la jeunesse. </div>
	<div class="email mt_10">
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<a href="mailto:info@finasarl.com" target="_top">info@finasarl.com</a>
	</div>
</div>
