<div class="location mb_50">
	<h5 class="capitalize mb_20">
		<strong>Our Location</strong>
	</h5>
	<div class="address">Office address
		<br>
		124,Lorem Ipsum has been
		<br>
		text ever since the 1500</div>
	<div class="call mt_10">
		<i class="fa fa-phone" aria-hidden="true"></i>+91-9987-654-321</div>
</div>
<div class="Career mb_50">
	<h5 class="capitalize mb_20">
		<strong>Careers</strong>
	</h5>
	<div class="address">dummy text ever since the 1500s, simply dummy text of the typesetting industry.
	</div>
	<div class="email mt_10">
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<a href="mailto:careers@yourdomain.com" target="_top">careers@yourdomain.com</a>
	</div>
</div>
<div class="Hello mb_50">
	<h5 class="capitalize mb_20">
		<strong>Say Hello</strong>
	</h5>
	<div class="address">simply dummy text of the printing and typesetting industry.</div>
	<div class="email mt_10">
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<a href="mailto:info@yourdomailname.com" target="_top">info@yourdomailname.com</a>
	</div>
</div>
