{% extends "base.html.twig" %}
{% block innerPage %}
	Votre panier
{% endblock %}

{% block body %}
	<div class="row ">
		<div class="col-sm-12 col-12 col-md-12 col-lg-12 mtb_20">
			<form enctype="multipart/form-data" method="post" action="#">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-center">Image</td>
								<td class="text-left">Libéllé Produit </td>
								<td class="text-left">Model</td>
								<td class="text-left">Quantité</td>
								<td class="text-right">Prix unitaire </td>
								<td class="text-right">Total</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a>
								</td>
								<td class="text-left">
									<a href="product.html">iPhone</a>
								</td>
								<td class="text-left">product 11</td>
								<td class="text-left">
									<div style="max-width: 200px;" class="input-group btn-block">
										<input type="text" class="form-control quantity" disabled size="1" value="1" name="quantity">
										<span class="input-group-btn">
											<button class="btn" title="" data-toggle="tooltip" type="submit" data-original-title="Ajouter ">
												<i class="fa fa-plus-circle"></i>
											</button>
											<button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Soustraire">
												<i class="fa fa-minus-circle"></i>
											</button>
										</span>
									</div>
								</td>
								<td class="text-right">$254.00</td>
								<td class="text-right">$254.00</td>
							</tr>
							<tr>
								<td class="text-center">
									<a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a>
								</td>
								<td class="text-left">
									<a href="product.html">iPhone</a>
								</td>
								<td class="text-left">product 11</td>
								<td class="text-left">
									<div style="max-width: 200px;" class="input-group btn-block">
										<input type="text" class="form-control quantity" disabled size="1" value="1" name="quantity">
										<span class="input-group-btn">
											<button class="btn" title="" data-toggle="tooltip" type="submit" data-original-title="Ajouter ">
												<i class="fa fa-plus-circle"></i>
											</button>
											<button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Soustraire">
												<i class="fa fa-minus-circle"></i>
											</button>
										</span>
									</div>
								</td>
								<td class="text-right">$254.00</td>
								<td class="text-right">$254.00</td>
							</tr>
							<tr>
								<td class="text-center">
									<a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a>
								</td>
								<td class="text-left">
									<a href="product.html">iPhone</a>
								</td>
								<td class="text-left">product 11</td>
								<td class="text-left">
									<div style="max-width: 200px;" class="input-group btn-block">
										<input type="text" class="form-control quantity" disabled size="1" value="1" name="quantity">
										<span class="input-group-btn">
											<button class="btn" title="" data-toggle="tooltip" type="submit" data-original-title="Ajouter ">
												<i class="fa fa-plus-circle"></i>
											</button>
											<button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Soustraire">
												<i class="fa fa-minus-circle"></i>
											</button>
										</span>
									</div>
								</td>
								<td class="text-right">$254.00</td>
								<td class="text-right">$254.00</td>
							</tr>
							<tr>
								<td class="text-center">
									<a href="#"><img src="images/product/70x84.jpg" alt="iPod Classic" title="iPod Classic"></a>
								</td>
								<td class="text-left">
									<a href="product.html">iPhone</a>
								</td>
								<td class="text-left">product 11</td>
								<td class="text-left">
									<div style="max-width: 200px;" class="input-group btn-block">
										<input type="text" class="form-control quantity" disabled size="1" value="1" name="quantity">
										<span class="input-group-btn">
											<button class="btn" title="" data-toggle="tooltip" type="submit" data-original-title="Ajouter ">
												<i class="fa fa-plus-circle"></i>
											</button>
											<button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Soustraire">
												<i class="fa fa-minus-circle"></i>
											</button>
										</span>
									</div>
								</td>
								<td class="text-right">$254.00</td>
								<td class="text-right">$254.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td class="text-right">
									<strong>Sous-Total:</strong>
								</td>
								<td class="text-right">$210.00</td>
							</tr>
							<tr>
								<td class="text-right">
									<strong>Expeditions (2.00 %):</strong>
								</td>
								<td class="text-right">$2.00</td>
							</tr>
							<tr>
								<td class="text-right">
									<strong>Total:</strong>
								</td>
								<td class="text-right">$254.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<form action="#">
				<input class="btn pull-left mt_30" type="submit" value="Continuer les achats "/>
				{# <a href="class="btn pull-left mt_30""> Continuer les achats </a> #}
			</form>
			<form action="#">
				<input class="btn pull-right mt_30" type="submit" value="Confirmer achat "/>
			</form>
		</div>
	</div>
</div>
{% endblock %}
