{% extends "base.html.twig" %}
{% block innerPage %} Garantie de remboursement {% endblock %}
{% block body %}
<!-- arrival section -->
		<section class="arrival_section">
			<div class="container">
				<div class="box">
					<div class="row">
						<div class="col-md-12 col ml-auto">
							<div class="heading_container remove_line_bt">
								<h2>
									#Reglèment de rembourssement
								</h2>
							</div>
							<p style="margin-top: 20px;margin-bottom: 30px;">
Les Conditions générales de vente (ci après „CGV”) suivantes s'appliquent à toutes les relations commerciales entre Fina sarl et le client dans la version respectivement en vigueur. Les clients peuvent être aussi bien des entreprises que des consommateurs. Au sens des présentes CGV est considéré comme consommateur toute personne physique qui agit à des fins qui n’entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale. Au sens des présentes CGV,un professionnel est une personne physique ou morale qu’elle soit publique ou privée, qui agit, y compris par l’intermédiaire d’une autre personne agissant en son nom ou pour son compte, aux fins qui entrent dans le cadre de son activité commerciale, industrielle, artisanale ou libérale.
La présentation des produits dans la boutique en ligne constitue uniquement un catalogue électronique non contractuel. En cliquant sur le bouton « Acheter », le client s’engage à commander les marchandises contenues dans le panier d’achats. Une confirmation de commande est effectuée immédiatement après l’envoi de la commande. Le contrat de vente ne sera considéré comme conclu qu'avec notre confirmation de commande séparée. Le texte du contrat est sauvegardé. Les données de commande ainsi que les Conditions générales de vente sont envoyées au client par e-mail. Toutes les commandes antérieures peuvent être consultées par le client dans la zone de connexion.
Seule la langue française fait foi pour la conclusion du contrat.
En commandant dans la boutique en ligne, le client passe par les étapes techniques suivantes:
Clic sur le champ « Passer à la caisse » dans le panier d'achats affiché
Redirection vers la page de récapitulatif de commande (thomann.de Caisse), sur laquelle se déroulent les différentes étapes d'achat
Étape 1 Sélection de l'« adresse de facturation et de livraison » (si le client ne possède pas de compte client et n'est pas connecté ; sinon, l'adresse de facturation et de livraison est déposée) ;
Saisie de « l’adresse de facturation » ;
Si l'adresse de facturation et l'adresse de livraison sont différentes, vous pouvez, en cliquant sur la case à cocher, « saisir une autre adresse de livraison »
Étape 2 À la section suivante, « tous les postes de votre commande » sont affichés dans un tableau ; il est encore possible de modifier le contenu du panier d'achats
Étape 3 Sélection du « mode de paiement » (en cliquant sur le mode de paiement souhaité)
Étape 4 Possibilité de sélectionner par clic d'« autres options » (adresse de livraison divergente, date de livraison, encaissement d'un bon d'achat Fina sarl, commentaire/note concernant la livraison)
Validation de la commande en cliquant sur le bouton « Acheter »
Le client accède à chacune de ces étapes de commande via les fonctions courantes de son navigateur Internet.
 Livraison
Lorsque le client est une entreprise, la livraison est systématiquement effectuée aux risques du client. Ceci vaut également pour les livraisons partielles. Si le client est un consommateur, le risque de perte accidentelle et de détérioration accidentelle de la marchandise vendue, également lors d’achats par correspondance, n'est transmis au client qu'au moment de la remise de la marchandise. Le transfert des risques a lieu même lorsque le client tarde à réceptionner la marchandise. La marchandise est livrée à l'adresse de livraison indiquée par le client.
Les prix sont des prix au comptant TVA incluse, plus d’éventuels frais d’emballage et de transport.
En cas de livraison dans des pays étrangers, les taxes et droits de douane supplémentaires peuvent être facturés au client.
Si le client est un professionnel, la marchandise doit être à la réception immédiatement soumise à examen par le client ou son représentant afin de constater d'éventuels dégâts survenus lors du transport. À la réception, le client professionnel doit signaler et faire confirmer par écrit par l'entreprise de transport les dégâts visibles ainsi que les emballages détériorés en cours de transport.
Fina sarl assume une garantie pour tous les défauts survenant durant une période de six mois, à condition que ces défauts puissent être imputés de façon avérée à un vice matériel ou de fabrication. Le droit à la garantie appartient au client consommateur et ne peut être cédé.
Échéance et conditions de paiement
Les factures de Fina sarl sont – sauf accord contraire écrit – payables immédiatement et sans déduction. Le paiement à la réception, lorsqu' il est disponible, se fait par contre-remboursement, en espèces lors de la livraison. Les commandes réglées par paiement préalable sont uniquement expédiées après réception du paiement. En cas de paiement par carte de crédit ou par monnaie électronique, le prélèvement s'effectue au moment de l'établissement de la facture et de l'envoi de la marchandise. Le montant total est réservé sur la carte de crédit ou dans le compte monnaie électronique du client dès que celui-ci valide sa commande en ligne.
Les règlements en devises étrangères sont crédités conformément au décompte bancaire. Les frais bancaires sont à la charge du client.
Responsabilité
Fina sarl  répond, envers son client, du dommage ou du remboursement des dépenses pour tout manquement à des obligations contractuelles, quasi contractuelles, légales ou délictuelles de la façon suivante:
En vertu des dispositions légales, Fina sarl demeure entièrement responsable:


en cas d'intention délictueuse ou grave négligence,
en cas d'atteinte volontaire ou par négligence à la vie, à l'intégrité corporelle ou à la santé,
dans le cadre d'une promesse de garantie sauf dispositions contraires,
dans le cadre d'une responsabilité impérative du fait des produits.
En cas de manquement de Fina sarl à une obligation contractuelle essentielle, sa responsabilité est limitée au dommage prévisible au moment de la conclusion du contrat.
En dehors des cas prévus ci-dessus, toute responsabilité de Fina sarl est exclue.
Le règlement ci-dessus portant sur la responsabilité s'applique également à la responsabilité que Fina sarl engage pour ses agents d'exécution ou pour son représentant.
Procédure de médiation
Le consommateur a la possibilité de recourir, en cas de contestation, à une procédure de médiation conventionnelle ou à tout autre mode de règlement des différends.
Loi applicable, juridiction compétente
Si le client est un consommateur, toute relation juridique entre les parties contractantes est soumise au droit congolais, à l’exclusion du droit commercial international des Nations Unies, et la juridiction compétente pour tout litige en relation avec le présent contrat est exclusivement celle de la résidence principale du client.
Si le client est un professionnel, toute relation juridique entre les parties contractantes est soumise au droit congolais, à l’exclusion du droit commercial international des Nations Unies, et la juridiction compétente pour tout litige en relation avec le présent contrat est exclusivement celle de la résidence principale ou le siège social de Fina sarl.
 Disposition finale
Si certaines de ces dispositions ne pouvaient – pour quel que motif que ce soit – être exécutées, la validité des autres dispositions n'en serait pas affectée.
							</p>
							<a href="{{url('app_terme_conditions')}}">
								Termes et conditions 
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end arrival section -->{% endblock %}
