{% extends 'base.html.twig' %}

{% block body %}
	
	<section class="why_section layout_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="full">
						{{ include('client/_form.html.twig') }}

						{# <a href="{{ path('app_client_index') }}">Retour à la liste </a> #}

					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}